<div id="tf-home" class="text-center">
  <div class="container" id='graybox'>
      <div class="content">
        <h1>Welcome to JerseyTalk!
          <img alt="JerseyTalk" src="<%= asset_path( 'jticon.png' ) %>">
        </h1>
        <%= form_tag "/login" do %>
          <div class="row">
            <div class="col-md-2 col-md-offset-3 text-center login-label">Email: </div>
            <div class="col-md-3">
              <%= text_field_tag :email %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2 col-md-offset-3 text-center login-label">Password: </div>
            <div class="col-md-3">
              <%= password_field_tag :password %>
            </div>
          </div>
          <br>
            <%= submit_tag "Login", class: 'login-button' %>
        <% end %>

    </div>
  </div>
</div>
