<div id="tf-home" class="text-center">
  <div class="container" id='graybox'>
      <div class="content"><h1>Login</h1>
        <%= form_tag "/login" do %>

          Email: <%= text_field_tag :email %>
          Password: <%= password_field_tag :password %>
          <%= submit_tag "Login" %>

        <% end %>


        <div>
          <div>
            <h3><strong>Player Rating</strong></h3>
            <% 5.times do |x|%>
              <% current_id = 'player' + (x+1).to_s%>
              <a href="#" id=<%=current_id%> class="rating-stars">
                <img class="rating-stars-img" alt="emptystar" src="<%= asset_path( 'empty-star.png' ) %>" data-alt-src="<%= asset_path( 'full-star.png' ) %>">
              </a>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
