<div class="row">
      <div class="col-md-12 top-section each-article">
        <div class="col-md-4">
          <%= image_tag article.media.url(:medium), :class => "img img-responsive center-image" %>
        </div>
        <div class="col-md-8">
          <h2><%= article.title %></h2>
          <h4><%= article.subtitle %></h4>
          <%= link_to "View Article >>>", article %>
          <p class="pull-right gray-date"><%= nice_date(article.updated_at) %></p>
        </div>
      </div>
    </div>