<div id="tf-home" class="text-center">
  <div class="container" id='graybox'>
    <div class="content">
      <h1><strong>Grading College Athletic Programs</strong></h1>
      <p class="lead">From Current Athletes and Alumni</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Find Your Team"/>
        <span id="orange-back" class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row black-text">
  <div class="col-md-4 text-center">
    <div class="col-md-12 well gray-back">
      <h3><strong>Anonymous Reviews</strong></h3>
      <img alt="JerseyTalk" src="<%= asset_path( 'jticon.png' ) %>">
      <h4>Anonymously share what its like to play in your college program.</h4>
    </div>
    <a href="#"><div class="view-button"><h3 class="view-header">View</h3></div></a>
  </div>
  <div class="col-md-4 text-center">
    <div class="col-md-12 well gray-back">
      <h3><strong>Athlete Scouting Reports</strong></h3>
      <img alt="Report Icon" src="<%= asset_path( 'scoutingicon.png' ) %>">
      <h4>Review your college program and see what's been said about you!</h4>
    </div>
    <a href="#"><div class="view-button"><h3 class="view-header">View</h3></div></a>
  </div>
  <div class="col-md-4 text-center">
    <div class="col-md-12 well gray-back">
      <h3><strong>Gulf South Conference</strong></h3>
      <img alt="Gulf South Conference" src="<%= asset_path( 'gscicon.png' ) %>">
      <h4>JerseyTalk is now open for teams in the Gulf South Conference!</h4>
    </div>
    <a href="#"><div class="view-button"><h3 class="view-header">View</h3></div></a>
  </div>
</div>

<br>

<div>
  <div class="row">
    <div class="col-md-12"><div class="col-md-12 top-listings-header"><h1>Top Rated Listings</h1></div></div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 top-section">
      <div class="col-md-4">
        <img alt="Coach Icon" class="top-icon" src="<%= asset_path( 'coach_icon.png' ) %>">
        <h1>Head Coach</h1>
        <a href="#"><h3>View List</h3></a>
      </div>
      <div class="col-md-8 top-listings">
        <% @coaches.each do |coach| %>
        <div class="row  individual-listing">
          <div class="col-md-4">
            <h3><strong><%= coach.average_coach_rating %></strong></h3>
            <%= render_stars(coach.average_coach_rating) %>
          </div>
          <div class="col-md-8 text-left">
            <h3><strong><%= coach.first_name + ' ' + coach.last_name %></strong></h3>
            <h4><%= coach.programs.first.school.name %></h4>
            <h4><%= coach.programs.first.sport %></h4>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 top-section spacer">
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 top-section">
      <div class="col-md-4">
        <img alt="Facility Icon" class="top-icon" src="<%= asset_path( 'facility_icon.png' ) %>">
        <h1>Facilities</h1>
        <a href="#"><h3>View List</h3></a>
      </div>
      <div class="col-md-8 top-listings">
        <% @facilities.each do |program| %>
        <div class="row individual-listing">
          <div class="col-md-4">
            <h3><strong><%= program.average_facility_rating %></strong></h3>
            <%= render_stars(program.average_facility_rating) %>
          </div>
          <div class="col-md-8 text-left">
            <h3><strong><%= program.facility_name %></strong></h3>
            <h4><%= program.school.name %></h4>
            <h4><%= program.sport %></h4>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 top-section spacer">
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 top-section">
      <div class="col-md-4">
        <img alt="Location Icon" class="top-icon" src="<%= asset_path( 'location_icon.png' ) %>">
        <h1>Location</h1>
        <a href="#"><h3>View List</h3></a>
      </div>
      <div class="col-md-8 top-listings">
        <% @locations.each do |school| %>
        <div class="row individual-listing">
          <div class="col-md-4">
            <h3><strong><%= school.average_location_rating %></strong></h3>
            <%= render_stars(school.average_location_rating) %>
          </div>
          <div class="col-md-8 text-left">
            <h3><strong><%= school.location %></strong></h3>
            <h4><%= school.name %></h4>
            <h4>Population: <%= school.location_population %></h4>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 top-section spacer">
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 top-section">
      <div class="col-md-4">
      <img alt="Education Icon" class="top-icon" src="<%= asset_path( 'education_icon.png' ) %>">
        <h1>Education</h1>
        <a href="#"><h3>View List</h3></a>
      </div>
      <div class="col-md-8 top-listings">
        <% @educations.each do |school| %>
        <div class="row individual-listing">
          <div class="col-md-4">
            <h3><strong><%= school.average_education_rating %></strong></h3>
            <%= render_stars(school.average_education_rating) %>
          </div>
          <div class="col-md-8 text-left">
            <h3><strong><%= school.name %></strong></h3>
            <h4>Tuition: <%= school.tuition %></h4>
            <h4>Population: <%= school.location %></h4>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>