<div id="headcoach" class="tab-pane fade">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <img alt="Coach Icon" class="top-icon" src="<%= asset_path( 'coach_icon.png' ) %>">
              </div>
              <div class="col-md-7 col-md-offset-1">
                <h2><%= coach.first_name + ' ' + coach.last_name %></h2>
                <h3><%= render_stars(coach.average_coach_rating) %> <span class="lil-padding"><%= coach.average_coach_rating %></span></h3>
                <h4>Overall Record: <%= coach.wins %>-<%= coach.losses %></h4>
                <h4>Alma Mater: <%= coach.alma_mater %></h4>
              </div>
            </div>
            <div class="container">
              <h2 class="underline">Overview</h2>
              <p>
                <%= coach.first_name + ' ' + coach.last_name %> has been the Head Coach at <%= school.name %> since <%= coach.year_started %>, posting a <%= coach.win_percentage %>% win percentage in <%= coach.seasons %> seasons. During <%= coach.his %> tenure, <%= coach.last_name %> has led <%= school.name %> to <%= coach.ncaa_appearances %> NCAA tournament appearances, and <%= coach.conference_titles %> Conference Championships. Coach <%= coach.last_name %> heavily recruits players from <%= coach.recruiting_state1 + ', ' + coach.recruiting_state2 + ', and ' + coach.recruiting_state3 %>. Players feel <%= coach.he %> specializes in <%= coach.his %> <%= coach.strong_point %>, but can improve in <%= coach.his + ' ' + coach.weak_point %>. <%= coach.would_play_again_percent %>% of players would return to play another season for Coach <%= coach.last_name %>.
              </p>
            </div>
          </div>

          <div class="col-md-6 text-center overall-info">
            <div class="overall-ratings-summary">
              <br>
              <div class='row'>
                <div class="col-md-5"><h4>Player Development:</h4> </div>
                <div class="col-md-5">
                  <%= render_stars(coach.average_player_development) %>
                </div>
                <div class="col-md-2">
                  <h4><%= coach.average_player_development %></h4>
                </div>
              </div>

              <div class='row'>
                <div class="col-md-5"><h4>Player Relationships:</h4> </div>
                <div class="col-md-5">
                  <%= render_stars(coach.average_player_relationships) %>
                </div>
                <div class="col-md-2">
                  <h4><%= coach.average_player_relationships %></h4>
                </div>
              </div>

              <div class='row'>
                <div class="col-md-5"><h4>Pro Connections:</h4> </div>
                <div class="col-md-5">
                  <%= render_stars(coach.average_pro_connections) %>
                </div>
                <div class="col-md-2">
                  <h4><%= coach.average_pro_connections %></h4>
                </div>
              </div>

              <div class='row'>
                <div class="col-md-5"><h4>Recruiting:</h4> </div>
                <div class="col-md-5">
                  <%= render_stars(coach.average_recruiting) %>
                </div>
                <div class="col-md-2">
                  <h4><%= coach.average_recruiting %></h4>
                </div>
              </div>

              <div class='row'>
                <div class="col-md-5"><h4>Sport Knowledge:</h4> </div>
                <div class="col-md-5">
                  <%= render_stars(coach.average_sport_knowledge) %>
                </div>
                <div class="col-md-2">
                  <h4><%= coach.average_sport_knowledge %></h4>
                </div>
              </div>

            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h2 class="underline clear-review-header">Comments</h2>

            <% coach.reviews.each do |review| %>
              <div class="col-md-12 each-coach-review">
                <div class="col-md-3 text-center">
                  <h3><%= render_stars(review.average_coach_rating) %></h3>
                  <h3><%= review.average_coach_rating %></h3>
                </div>
                <div class="col-md-9">
                  <h4>"<%= review.hc_comments %>"</h4>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>