<div class="row individual-listing">
          <div class="col-md-4">
            <h3><strong><%= school.average_education_rating %></strong></h3>
            <%= render_stars(school.average_education_rating) %>
          </div>
          <div class="col-md-8 text-left rank-info">
            <h3><strong class="location-div" data-trigger="hover" data-toggle="popover"><%= school.name %></strong></h3>
            <h4>Tuition: <%= number_with_delimiter(school.tuition, :delimiter => ',') %></h4>
            <h4>Population: <%= number_with_delimiter(school.location_population, :delimiter => ',') %></h4>
          </div>
        </div>