<div id="location" class="tab-pane fade">

  <div class="row">
<% if has_reviews?(program) %>

    <div class="col-md-6 margin-top-3">
      <div class="row">
        <div class="col-md-5">
        <img alt="location Icon" class="img-responsive" src="<%= asset_path( 'location_icon.png' ) %>">
        </div>
        <div class="col-md-7">
          <h2><%= school.location %></h2>
          <h3><%= render_stars(school.average_location_rating) %> <span class="lil-padding"><%= school.average_location_rating %></span></h3>
          <h4>City Population: <%= school.location_population %></h4>
        </div>
      </div>

    </div>

  <% else %>
        <div class="col-md-6 text-center margin-top-3">
          <h2>This Team has not been rated yet!</h2>
          <h3>Submit your review and see what’s been said about you!</h3>
          <a href="/reviews/new" class="write-review-link-unreviewed">Write Review</a>
          <h4 class="gray-text">Receive report on your athletic career after submitting your review</h4>
        </div>

  <% end %>

    <div class="col-md-6 text-center overall-info">
      <div class="overall-ratings-summary">
        <br>
        <div class='row'>
          <div class="col-md-5"><h4>Program Tradition:</h4> </div>
          <div class="col-md-5">
            <%= has_reviews?(program) ? render_stars(school.average_l_program_tradition) : render_stars(0) %>
          </div>
          <div class="col-md-2">
            <h4><%= has_reviews?(program) ? school.average_l_program_tradition : 'Not Rated' %></h4>
          </div>
        </div>

        <div class='row'>
          <div class="col-md-5"><h4>Community Interest:</h4> </div>
          <div class="col-md-5">
            <%= has_reviews?(program) ? render_stars(school.average_l_community_interest) : render_stars(0) %>
          </div>
          <div class="col-md-2">
            <h4><%= has_reviews?(program) ? school.average_l_community_interest : 'Not Rated' %></h4>
          </div>
        </div>

        <div class='row'>
          <div class="col-md-5"><h4>Weather:</h4> </div>
          <div class="col-md-5">
            <%= has_reviews?(program) ? render_stars(school.average_l_weather) : render_stars(0) %>
          </div>
          <div class="col-md-2">
            <h4><%= has_reviews?(program) ? school.average_l_weather : 'Not Rated' %></h4>
          </div>
        </div>

        <div class='row'>
          <div class="col-md-5"><h4>Nightlife:</h4> </div>
          <div class="col-md-5">
            <%= has_reviews?(program) ? render_stars(school.average_l_nightlife) : render_stars(0) %>
          </div>
          <div class="col-md-2">
            <h4><%= has_reviews?(program) ? school.average_l_nightlife : 'Not Rated' %></h4>
          </div>
        </div>

      </div>
    </div>

  <% if has_reviews?(program) %>

    <div class="container">
        <h2 class="underline clear">Overview</h2>
        <p>
          <%= school.location %> is a town with a population of <%= school.location_population %>. The <%= program.sport %> players graded the <%= school.location_strong_point %> as the best feature of the city and stated that the <%= school.location_weak_point %> could be improved. The overall location of this program is rated <%= school.location_overall_ranking %>.
        </p>
      </div>
  <% end %>
  </div>
  <% if has_reviews?(program) %>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2 class="underline clear-review-header">Comments</h2>

      <% school.reviews.each do |review| %>
      <div class="col-md-12 each-coach-review">
        <div class="col-md-3 text-center">
          <h3><%= render_stars(review.average_location_rating) %></h3>
          <h3><%= review.average_location_rating %></h3>
        </div>
        <div class="col-md-9">
          <h4>"<%= review.l_comments %>"</h4>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <% end %>
</div>