<div id='reviewformfacilitiestab' class='hidden'>

  <div class='row'>
      <div class="col-md-12">
      <div class='col-md-12 light-gray-div'>
        <div class="col-md-5">
          <img alt="Facility Icon" class="img-responsive center-margin smaller-image" src="<%= asset_path( 'facility_icon.png' ) %>">
        </div>
        <div class="col-md-7">
          <h1>Facilities</h1>
        </div>
      </div>
      </div>
    </div>

   <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Main Arena</h3></label>
      <h4 class="center-margin low-font-weight">Main facility used for home games</h4>
    </div>
    <div class="col-md-3 stargin" id="f_main_arena">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Home Game Atmosphere</h3></label>
      <h4 class="center-margin low-font-weight">Game day environment at home games</h4>
    </div>
    <div class="col-md-3 stargin" id="f_home_atmosphere">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Weight Room</h3></label>
      <h4 class="center-margin low-font-weight">Quality of Weight Training Facility</h4>
    </div>
    <div class="col-md-3 stargin" id="f_weight_room">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Locker Room</h3></label>
      <h4 class="center-margin low-font-weight">Quality of locker room facility</h4>
    </div>
    <div class="col-md-3 stargin" id="f_locker_room">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Athletic Training Facility</h3></label>
      <h4 class="center-margin low-font-weight">Quality of Athletic Training facility</h4>
    </div>
    <div class="col-md-3 stargin" id="f_training_facility">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group row">
      <div class="col-md-6 col-md-offset-3 light-gray-div">
      <h4 class="text-center low-font-weight center-margin">Facilities Comments</h4>
      <br>
      <textarea class="form-control" id="f_comments" name="textarea" placeholder="What are the facilities like?"></textarea>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group row">
    <div class="col-md-1 col-md-offset-4">
      <button id="reviewformbacktoheadcoach" name="singlebutton" class="btn btn-primary">Head Coach</button>
    </div>
    <div class="col-md-1 col-md-offset-2">
      <button id="reviewformlocation" name="singlebutton" class="btn btn-primary">Location</button>
    </div>
  </div>

</div>