<fieldset id='reviewformheadcoachtab' class='hidden'>

    <div class='row'>
      <div class="col-md-12">
      <div class='col-md-12 light-gray-div'>
        <div class="col-md-5">
          <img alt="Coach Icon" class="img-responsive center-margin smaller-image" src="<%= asset_path( 'coach_icon.png' ) %>">
        </div>
        <div class="col-md-7">
          <h1>Head Coach</h1>
        </div>
      </div>
      </div>
    </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Player Relationships</h3></label>
      <h4 class="center-margin low-font-weight">Ability to  develop  relationships with players</h4>
    </div>
    <div class="col-md-3 stargin" id="hc_player_relationships">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Player Development</h3></label>
      <h4 class="center-margin low-font-weight">Ability to  develop  skills of players</h4>
    </div>
    <div class="col-md-3 stargin" id="hc_player_development">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Recruiting</h3></label>
      <h4 class="center-margin low-font-weight">Ability to sign talented players to the program</h4>
    </div>
    <div class="col-md-3 stargin" id="hc_recruiting">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Professional Connections</h3></label>
      <h4 class="center-margin low-font-weight">Ability to place players at the professional level</h4>
    </div>
    <div class="col-md-3 stargin" id="hc_pro_connections">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="selectbasic"><h3 class="center-margin">Sport Knowledge</h3></label>
      <h4 class="center-margin low-font-weight">Overall knowledge and understanding of the sport</h4>
    </div>
    <div class="col-md-3 stargin" id="hc_sport_knowledge">
      <%= render partial: 'stars_div' %>
    </div>
  </div>

  <!-- radio group -->
  <div class="form-group row">
    <div class="col-md-5 col-md-offset-2">
      <label class="control-label" for="radios"><h3 class="center-margin">Would You Play for this Coach Again?</h3></label>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <label class="radio-inline" for="hc_would_you_play_for_again_yes">
        <input type="radio" name="radios" id="hc_would_you_play_for_again_yes">
        Yes
      </label>
      <label class="radio-inline" for="hc_would_you_play_for_again_no">
        <input type="radio" name="radios" id="hc_would_you_play_for_again_no">
        No
      </label>
    </div>
  </div>


  <!-- Textarea -->
  <div class="form-group row">
      <div class="col-md-6 col-md-offset-3 light-gray-div">
      <h4 class="text-center low-font-weight center-margin">Head Coach Comments</h4>
      <br>
      <textarea class="form-control" id="hc_comments" name="textarea" placeholder="What's it like to play for your coach?"></textarea>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group row">
    <div class="col-md-1 col-md-offset-4">
      <button id="reviewformbacktogetstarted" name="singlebutton" class="btn btn-primary">Program</button>
    </div>
    <div class="col-md-1 col-md-offset-2">
      <button id="reviewformfacilities" name="singlebutton" class="btn btn-primary">Facilities</button>
    </div>
  </div>

</fieldset>