<!DOCTYPE html>
<html>
<head>
  <title>JerseyTalk Draft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="JerseyTalk" src="<%= asset_path( 'jt_logo_with_letters.png' ) %>">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li class="hidden active">
              <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
              <a href="#write_a_review">Write a Review</a>
          </li>
          <li class="page-scroll">
              <a href="#top_rated_teams">Top Rated Teams</a>
          </li>
          <li class="page-scroll">
              <a href="#scouting_reports">Scouting Reports</a>
          </li>
          <li class="page-scroll">
              <a href="#news_and_media">News and Media</a>
          </li>
          <%if current_user%>
            <li class="page-scroll">
                <a href="#user_page"><%=current_user.first_name + " " + current_user.last_name[0]%></a>
            </li>
            <li class="page-scroll">
                <a href="/logout">Logout</a>
            </li>
          <%else%>
            <li class="page-scroll">
                <a href="/login">Login</a>
            </li>
            <li class="page-scroll">
                <a href="#register">Register</a>
            </li>
          <%end%>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<%= yield %>


    <footer class="footer-distributed">

      <div class="footer-left">
        <img alt="JerseyTalk" src="<%= asset_path( 'jticon.png' ) %>">
      </div>

      <div class="footer-center">
        <h4>Explore</h4>
        <a href="#">News and Media</a>
        <br>
        <a href="#">Athlete Scouting Reports</a>
        <br>
        <a href="#">Bring JerseyTalk to Your School</a>

      </div>

      <div class="footer-right">

        <h4>About</h4>
        <span><a href="#">Credits</a></span>
        <br>
        <a href="#">About Us</a>
        <br>
        <a href="#">Contact Us</a>

      </div>
      <div class="footer-right-right">
          <h4>Connect</h4>
          <a href="https://www.facebook.com/jerseytalk.news/"><i class="fa fa-facebook"></i>    Follow us on Facebook</a>
          <br>
          <a href="https://twitter.com/jerseytalk_"><i class="fa fa-twitter"></i>    Follow us on Twitter</a>
          <br>
          <a href="https://www.instagram.com/jerseytalk_/"><i class="fa fa-instagram"></i>    Follow us on Instagram</a>
      </div>
      <div class="second-footer text-center">
        <br>
        <h5>Copyright  JerseyTalk 2015-16. All Rights Reserved</h5>
        <br>
      </div>

    </footer>

</body>
</html>
